body {
  margin: 0;
  padding: 15px;
  font-family: "Helvetia Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  background-color: #3B4047;
  color: #333;
}

.logo {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
  width: 152px;
  margin: 50px auto;
}

.logo .icon {
  width: 11px;
  height: 11px;
  background-color: #fff;
  float: left;
  margin: 3px 8px 0 0;
}

.synth {
  width: 800px;
  margin: 0 auto;
}

fieldset {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
}

fieldset legend {
  font-weight: 600;
  color: #444;
}

.sequencer select {
  margin-right: 15px;
}

button {
  margin: 5px;
}

.matrix {
  padding-top: 25px;
}

.matrix .notes {
  float: left;
  margin-top: 8px;
  margin-right: 15px;
}

.matrix .notes .note {
  padding-bottom: 33px;
  color: #fff;
  font-weight: 600;
}

.matrix .col {
  width: 35px;
  margin-right: 12px;
  float: left;
}

.matrix .col .matrix-value {
  width: 35px;
  height: 35px;
  background: #616772;
  margin-bottom: 12px;
  float: left;
  border-radius: 100%;
  transition: background-color 0.3s ease;
}

.matrix .col .matrix-value.selected {
  background-color: #F6A623;
}

.matrix .col .matrix-value.active {
  background-color: #C3FF3F;
}

section.envelope {
  margin-top: 10px;
  float: right;
}

section.envelope > section {
  padding-bottom: 5px;
}

section.envelope label {
  color: #fff;
  font-weight: 800;
  padding-right: 5px;
}
